{{!< layout}}
<div class="aui-message aui-message-confirmation">
    <p class="title">
        <strong>
            <a id="simple-tooltip" href="{{docs}}" target="_blank" title="Acceso a los documentos del ticket"><font style="font-family:Segoe UI">Documentaci&#243;n del evolutivo</font></a>
        </strong>
    </p>

</div>



