{{!< layout}}
<div class="aui-message aui-message-confirmation">
    <p class="title">
        <strong>
            <a target="_top" id="simple-tooltip" href="https://nortegas-sd-test.atlassian.net/browse/{{idIssue}}" title="Acceso a los datos del equipo"><font style="font-family:Segoe UI">{{idEquipo}}</font></a>
        </strong>
    </p>
    <p><font style="font-family:Segoe UI">{{issueType}}</font></p>
    <p><font style="font-family:Segoe UI">{{marca}}</font></p>
    <p><font style="font-family:Segoe UI">{{procesador}}</font></p>
    <p><font style="font-family:Segoe UI">{{so}}</font></p>
    <p><span class="aui-lozenge aui-lozenge-success"><font style="font-family:Segoe UI">{{status}}</font></span></p>
</div>



