{{!< layout}}
<script src="/js/workflow/entity.js"></script>
<div id="idproduct" class="aui-message aui-message-info">
    <p><font face="Segoe UI">En necesario indicar el equipo al que referencia el ticket. Si solo tiene uno, aparecer&aacute;n sus datos. Si tiene mas de uno, seleccione uno de ellos.</font></p>
    {{#if hay}}
    <form class='aui' id='f'>
        <div class='field-group'>
            <label for='select'><font face='Segoe UI'>Tu(s) equipo(s):</font></label>
            <select class='select' id='idactive' name='idactive'>
                {{#each equipos.issues}}
                <option value='{{fields.summary}}'>{{fields.issuetype.name}}-{{fields.summary}}</option>
                {{/each}}
            </select>
        </div>
    </form>
    {{else}}
    <blockquote><p>No se encuentra ningun equipo asociado</p></blockquote>
    {{/if}}
</div>
