﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="aui/css/aui.min.css" media="all">
    <link rel="stylesheet" href="aui/css/aui-experimental.min.css" media="all">
    <!--[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-ie9.css" media="all"><![endif]-->
    <link rel="stylesheet" href="/css/addon.css" type="text/css" />
    <link rel="stylesheet" href="node_modules/@atlaskit/css-reset/dist/bundle.css" />
    <link rel="stylesheet" href="node_modules/@atlaskit/reduced-ui-pack/dist/bundle.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="aui/js/aui.min.js"></script>
    <script src="aui/js/aui-experimental.min.js"></script>
    <script src="aui/js/aui-soy.min.js"></script>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    <meta id="token" content="{{token}}">
</head>
<body>
    <section id="content" role="main">
        {{{body}}}
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/codemirror.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/mode/javascript/javascript.min.js"></script>
    <script src="/js/workflow/workflow.js"></script>
    <script src="/js/baseline/baseline.js"></script>
</body>
</html>