{{!< layout}}
<article class="aui-flatpack-example">
    <font style="font-family:Segoe UI">
        <div class="tabs-pane active-pane" id="tabs-example-first" role="tabpanel" aria-hidden="false" aria-labelledby="aui-uid-0">
            <table class="aui">
                <thead>
                    <tr>
                        <th id="basic-number">#</th>
                        <th id="basic-lname">ANS</th>
                        <th id="basic-username">Real</th>
                        <th id="basic-username">Planificada</th>
                        <th id="basic-fname">Vencimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td headers="basic-number"><IMG SRC="{{iconDF}}"></td>
                        <td headers="basic-lname">{{faseDF}}</td>
                        <td headers="basic-username">{{startDF}}</td>
                        <td headers="basic-username">{{goalDF}}</td>
                        <td headers="basic-fname">{{restanteDF}}</td>
                    </tr>
                    <tr>
                        <td headers="basic-number"><IMG SRC="{{iconDT}}"></td>
                        <td headers="basic-lname">{{faseDT}}</td>
                        <td headers="basic-username">{{startDT}}</td>
                        <td headers="basic-username">{{goalDT}}</td>
                        <td headers="basic-fname">{{restanteDT}}</td>
                    </tr>
                    <tr>
                        <td headers="basic-number"><IMG SRC="{{iconIMP}}"></td>
                        <td headers="basic-lname">{{faseIMP}}</td>
                        <td headers="basic-username">{{startIMP}}</td>
                        <td headers="basic-username">{{goalIMP}}</td>
                        <td headers="basic-fname">{{restanteIMP}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </font>
</article>



