/* App styles */

.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}

.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}

.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}
body {
    background-color: transparent !important;
}
.CodeMirror {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f5f5f5;
    height: 200px;
    font-family: Menlo, sans-serif;
    font-size: 12px;
    line-height: 150%;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}
