{{!< ../layout}}
<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main intro-header">
            <h3>Linea Base Aplicativos Nortegas</h3>
        </div>
    </div>
</header>

<div class="aui-page-panel main-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-item">
            <div class="aui-group">
                <div class="aui-item">
                    <form onclick="return false;" class="aui">
                        <div class="field-group">
                            <label for="organisation">Aplicaci&oacute;n 1</label>
                            <input id="a1" class="text" type="text" name="app1" value="{{budget.app1}}">
                            <div class="description">Aplicaci&oacute;n 1</div>
                        </div>
                        <div class="field-group">
                            <label for="roleInSoftware">Aplicaci&oacute;n 2</label>
                            <input id="a2" class="text" type="text" name="app2" value="{{budget.app2}}">
                            <div class="description">Aplicaci&oacute;n 2</div>
                        </div>

                        <div class="buttons-container">
                            <div class="buttons">
                                <button id="store-changes" class="aui-button aui-button-primary">Guardar cambios</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>